{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        clj-commons/clj-yaml {:mvn/version "0.6.0"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-333"}}
                  :extra-paths ["test-resources"]}
           :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.19.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           :aws {:extra-deps {com.cognitect.aws/api {:mvn/version "0.8.171"}
                              com.cognitect.aws/endpoints {:mvn/version "1.1.11.475"}
                              com.cognitect.aws/cloudformation {:mvn/version "684.2.377.0"}}}}}
